@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
}

.App {
  text-align: center;
}

nav a {
  color: black;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: red;
}

input {
  border:none;
  font-size: 1.5rem;
  background-color: rgba(128, 128, 128, 0.418);
  font-family: inherit;
  padding: 10px;
}

button {
  font-size: 1.5rem;
  border: none;
  width: 100px;
  font-family: inherit;
  color: rgb(202, 28, 173);
  padding: 10px;
  background-color: black;
}